.home-title {
  display: block;
  font-size: 3vw;
  color: rgb(104, 59, 255);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.start-quiz-button {
  text-align: center;
}

.start-quiz-button button {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 59, 255);
}

@media screen and (min-width: 1024px) {
  .start-quiz-button button {
    height: 4vw;
    width: 30vw;
    font-size: 2vw;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .start-quiz-button button {
    height: 9vw;
    width: 60vw;
    font-size: 3vw;
    border-radius: 4px;
  }
}
