* {
  box-sizing: border-box;
  color: #003049;
  font-family: 'Otomanopee One', 'Kosugi Maru', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fefae0;
  min-width: 1080px;
}

button {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}
