* {
  font-size: 18px;
  font-family: 'Otomanopee One', 'Kosugi Maru', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fefae0;
  min-width: 1080px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}
