html,
body {
  padding: 0;
  margin: 0;
  background-color: #fefae0;
  min-width: 1080px;
  font-family: 'Noto Sans JP';
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}
