* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kosugi Maru", "Otomanopee One", sans-serif;
  color: #003049;
}

html {
  font-size: 62.5%;
  background-color: #fefae0;
}

body {
  font-size: 2rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
