.result-title {
  display: block;
  font-size: 7vw;
  color: rgb(104, 59, 255);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.back-to-home {
  text-align: center;
}

.back-to-home button {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 59, 255);
}

.back-to-home button:hover {
  background-color: rgba(104, 59, 255, 0.8);
}

@media screen and (min-width: 1024px) {
  .start-quiz-button button {
    height: 4vw;
    width: 30vw;
    font-size: 2vw;
    border-radius: 8px;
  }

  .back-to-home button {
    height: 54px;
    width: 30%;
    font-size: 24px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .back-to-home button {
    height: 36px;
    width: 70%;
    font-size: 16px;
    border-radius: 4px;
  }
}
